@import "../../variables.scss";

.NavBar-logo {
  height: auto;
  width: 180px;
}

.NavBar-container {
  //background-color: $brand-info !important;
}

.navbar-default .navbar-nav > .active {
  border-bottom: 4px solid $primary-color;
}
