.CharacterCard-container {
  height: 350px;
  border-radius: 8px;
  box-shadow: 0 0 15px 0 rgba(254, 194, 0, 0.5);
  background-color: #f6f6f6;
  margin-bottom: 20px;
  position: relative; }

.CharacterCard-title {
  border-radius: 8px 8px 0 0;
  width: 100%;
  padding: 1px 10px 1px 10px;
  background-color: rgba(254, 194, 0, 0.99); }
  .CharacterCard-title h3 {
    color: #ffffff; }

.CharacterCard-desc {
  width: 90%;
  margin: 0 auto;
  padding: 10px; }

.CharacterCard-actions {
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: transparent; }
  .CharacterCard-actions .CharacterCard-actions-toolbar {
    text-align: center; }
    .CharacterCard-actions .CharacterCard-actions-toolbar .btn {
      float: none; }
  .CharacterCard-actions .CharacterCard-btn-edit,
  .CharacterCard-actions .CharacterCard-btn-favourite,
  .CharacterCard-actions .CharacterCard-btn-remove {
    border-radius: 40px;
    width: 40px;
    height: 40px;
    font-size: 1.2em; }
    .CharacterCard-actions .CharacterCard-btn-edit span,
    .CharacterCard-actions .CharacterCard-btn-favourite span,
    .CharacterCard-actions .CharacterCard-btn-remove span {
      margin-left: -2px; }
  .CharacterCard-actions .CharacterCard-btn-favourite {
    border-radius: 80px;
    width: 80px;
    height: 80px;
    font-size: 2em; }
    .CharacterCard-actions .CharacterCard-btn-favourite.CharacterCard-btn-selected {
      background-color: rgba(254, 194, 0, 0.99); }
      .CharacterCard-actions .CharacterCard-btn-favourite.CharacterCard-btn-selected:hover {
        border-color: transparent;
        background-color: rgba(203, 155, 0, 0.99); }
      .CharacterCard-actions .CharacterCard-btn-favourite.CharacterCard-btn-selected:active, .CharacterCard-actions .CharacterCard-btn-favourite.CharacterCard-btn-selected:focus {
        border-color: transparent;
        background-color: rgba(254, 194, 0, 0.5); }
