@import "../../variables";

$bg-color: #f6f6f6;
$title-color: #ffffff;
$radius: 8px;
$btn-radius: 40px;

.CharacterCard-container {
  height: 350px;
  border-radius: $radius;
  box-shadow: 0 0 15px 0 $primary-color-lighten;
  background-color: $bg-color;
  margin-bottom: 20px;
  position: relative;
}

.CharacterCard-title {
  border-radius: $radius $radius 0 0;
  width: 100%;
  padding: 1px 10px 1px 10px;
  background-color: $primary-color;
  h3 {
    color: $title-color;
  }
}

.CharacterCard-desc {
  width: 90%;
  margin: 0 auto;
  padding: 10px;
}

.CharacterCard-actions {
  margin: 0 auto;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  background-color: transparent;
  .CharacterCard-actions-toolbar {
    .btn {
      float: none;
    }
    text-align: center;
  }
  .CharacterCard-btn-edit,
  .CharacterCard-btn-favourite,
  .CharacterCard-btn-remove {
    border-radius: $btn-radius;
    width: $btn-radius;
    height: $btn-radius;
    font-size: 1.2em;
    span {
      margin-left: -2px;
    }
  }
  .CharacterCard-btn-favourite {
    border-radius: $btn-radius * 2;
    width: $btn-radius * 2;
    height: $btn-radius * 2;
    font-size: 2em;
    &.CharacterCard-btn-selected {
      &:hover {
        border-color: transparent;
        background-color: darken($primary-color, 10%);
      }
      &:active, &:focus {
        border-color: transparent;
        background-color: $primary-color-lighten;
      }
      background-color: $primary-color;
    }
  }
}
