$margin: auto;
$size: 60px;
$color: #fafafa;
$bg-color: #5bc0de;

.Spinner-wrapper {
  &.Spinner-fullscreen {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $bg-color;
    z-index: 1030;
    user-select: none;
  }
}
.Spinner-spin {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: $margin;
  width: $size;
  height: $size;
  background-color: $color;
  animation: rotateCube 1.2s infinite ease-in-out;
}

@keyframes rotateCube {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
  } 50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    } 100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      }
}
